<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

  <meta charset="utf-8" />  

  <title>Metronic | Extra - 404 Page Option 2</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <meta content="" name="description" />

  <meta content="" name="author" />

  <!-- BEGIN GLOBAL MANDATORY STYLES -->
  <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ static_url('css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ static_url('css/style-metro.css') }}" rel="stylesheet">
  <link href="{{ static_url('css/style.css') }}" rel="stylesheet">
  <link href="{{ static_url('css/style-responsive.css') }}" rel="stylesheet">
  <link href="{{ static_url('css/default.css') }}" rel="stylesheet">
  <link href="{{ static_url('css/uniform.default.css') }}" rel="stylesheet">
  <link href="{{ static_url('css/error.css') }}" rel="stylesheet">


  <link href="{{ static_url('img/favicon.ico') }}" rel="stylesheet">

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-404-full-page">

  <div class="row-fluid">

    <div class="span12 page-404">

      <div class="number">

        505
        
      </div>

      <div class="details">
  
        <h3>Sorry,发送错误！</h3>

      </div>

    </div>

  </div>

  <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

  <!-- BEGIN CORE PLUGINS -->
  <script src="{{ static_url('js/jquery.min.js') }}"></script>
  <script src="{{ static_url('js/jquery.uniform.min.js') }}"></script>
  <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
  <script src="{{ static_url('js/breakpoints.js') }}"></script>

  <script>


  </script>

  </body>

<!-- END BODY -->

</html> 
