{% extends body.html %}
{% block body %}

    <div class="text-center">
         <h3>用户一览</h2>
         <form class="form-inline" action="/user_conf" method="post" id="queryForm">
            <input type="text" placeholder="用户名" name="query_id", value={{query_id}} >

            <button type="submit" class="btn btn-primary ">查询</button>
        </form>
    </div>

        <div class="container">
              <h1></h1>
              <table class="table table-striped">
                  <tr>
                      <th style="width: 200px;"><center>用户名</center></th>
                      <th style="width: 200px;"><center>用户权限</center></th>
                      <th style="width: 200px;"><center>删除配置</center></th>
                   </tr>
                    {% for conf in all_conf %}
                    <tr>
                      <td><center>{{conf['username']}}</center> </td>
                      <td><center>
                         {% if conf['power'] == 'admin' %}
                            Admin
                         {%end%}
                      </center> </td>
                      {% if author_secure == 'admin' %}
                          <td><center><a class="btn btn-info" href="/user_conf/del/{{conf['_id']}}" rel="rewrite">删除</a></center> </td>
		      {% else %}
                          <td><center><a href ="javascript:void(0);" disabled class="btn btn-info" href="/user_conf/del/{{conf['_id']}}" rel="rewrite">删除</a></center> </td>
                      {%end%}
                    </tr>                  
                    {% end %}
              </table>
        </div>

        {% if totalpage >1 %}
        <div class="pagination">
              <ul>
                  <li class="disabled"><a href="/user_conf">&laquo;</a></li>
                  {%for p in range(totalpage) %}
                  <li ><a href="javascript:submitFrom({{p}});" {% if c_page == p %} class="btn" {% end %} >{{ p+1 }}</a></li>
                 {% end %}
              </ul>
         </div>
         {% end %}


    <script type="text/javascript">
       function submitFrom(curpage){
          var f = document.getElementById("queryForm");
          var input = document.createElement("input");
          input.setAttribute("type","hidden");
          input.setAttribute("value",curpage);
          input.setAttribute("name","c_page");
          f.appendChild(input);
          f.submit();
        };
  </script>



{% end %}


